<body>
  <div class="container-err">
    <h1 class="error-header">Error 4&lt;/&gt;4</h1>
    <div class="error-box">
      <span class="keyword">return</span>
      <span class="object">res</span>
      <span class="function">.status</span>
      <span class="operator">(</span>
      <span class="value">404</span>
      <span class="operator">)</span>
      <span class="function">.send</span>
      <span class="operator">(</span>
      <span class="string">"Pagina no Encontrada"</span>
      <span class="operator">)</span>
    </div>
<br>
    <div class="error-box">
      <a href="/">
        <span class="operator"><</span>
        <span class="object">button</span>
        <span class="function">type=</span>
        <span class="keyword">"button"</span>
        <span class="function"> class=</span>
        <span class="keyword">"volver"</span>
        <span class="function">onclick</span>
        <span class="string">"goHome"</span>
        <span class="operator">/></span>
      </a>
    </div>
  </div>
</body>

