 <div class="welcome-container">
<h1 class="welcome-message1">Gracias por registrarte, {{name}}!</h1>
<h2 class="welcome-message2">En 5 segundos te redireccionaremos al login</h2>
</div>
<script>
  setTimeout(function() { window.location.href = '/login'; }, 5000);
</script>