  <div>
        <h1>Su Link Ha Expirado</h1>
        <h1>Intentelo de Nuevo</h1>
        <h2>Reset Password</h2>

        <form action="/api/sessions/forgotPassword" method="POST">
            <label for="email">Email: <input type="email" name="email"></label>
            <input type="submit" value="Reset Password" class="submit-button">
        </form>
    </div>