<h1>Se le ha enviado un correo de restablecimiento de contraseña </h1>

<h2>Revise su correo y carpeta de Spam para reestablecer su contraseña</h2>

<h3>Mientras tanto, puede <a href="/">Volver a la pagina de inicio</a></h3>

