<main>
  <div class="product-added">
    <h1>Producto Agregado al Carrito</h1>
    <div class="product-details">
      <img src="{{product.thumbnail}}" alt="{{product.title}}">
      <div>
        <p><strong>Nombre:</strong> {{product.title}}</p>
        <p><strong>Cantidad:</strong> {{product.quantity}}</p>
      </div>
    </div>
<a href="/cart" class="button">Ver Carrito</a>
<a href="/products" class="button">Continuar Comprando</a>
  </div>
</main>
