<div>
  <h1>Change Password</h1>

  <form action="/api/sessions/resetPassword" method="POST">
    <input type="hidden" name="token" value="{{token}}" />
    <input
      type="password"
      name="newPass"
      placeholder="Enter new password"
      required
    />
    <input
      type="password"
      name="confirmNewPass"
      placeholder="Confirm new password"
      required
    />
    <button type="submit">Reset Password</button>
  </form>
</div>